.edit-profile-button {
    background-color: purple !important; 
    color: white;
    padding: 10px 20px; 
    border-radius: 15px; 
    margin-top: 20px; 
    font-size: 16px; 
    cursor: pointer; 
  }
  
  .edit-profile-button:hover {
    background-color: rgb(162, 54, 162);
  }
  
  .edit-profile-button:active {
    transform: scale(0.95); 
  }