.App {
  text-align: center;
}

.NavbarBrand {
  margin-left: 20px;
}

:root{
    --main-red-color: #c42323;
    --main-blue-color: #2333c4;
    --main-green-color: #23c483;
    --main-yellow-color: #f0b915;
    --green-shadow-color: rgba(46, 229, 157, 0.4);
    --blue-shadow-color: rgba(46, 92, 229, 0.4);
    --red-shadow-color: rgba(229, 46, 46, 0.4);
    --yellow-shadow-color: #e9ba2b6c;
    --bs-body-bg: rgba(148, 113, 146, 0.68) !important;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  font-family: "Lakki Reddy";
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
